<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="modal-body">
        <form method="POST" action="/insert_announce">
         <h1>ADD AN ANNOUNCEMENT</h1>
          <div class="form-group">
            <label for="name">Name:</label><br>
            <input type="text" name="name" class="form-control" value="" required="" placeholder="Enter Announcement Name" style= " width: 400px">
          </div>
          <div class="form-group">
            <label for="description">Description:</label><br>
            <input type="text" name="description" class="form-control" value="" required="" placeholder="Enter Announcement Description"style= " width: 400px;height: 40px">
          </div>
          <div class="form-group">
            <label for="tagline">Tagline:</label><br>
            <input type="text" name="tagline" class="form-control" value="" required="" placeholder="Enter News Tagline" style= " width: 400px">
          </div>
          <div class="form-group">
            <label for="image">Image URL:</label><br>
            <input type="text" name="image" class="form-control" value="" required="" placeholder="Enter Announcement Image URL" style= " width: 400px"><br>
          </div>
          <label for="image1">Image URL:</label><br>
            <input type="text" name="image1" class="form-control" value="" required="" placeholder="Enter Announcement Image URL" style= " width: 400px">
          </div>
          <label for="image2">Image URL:</label><br>
            <input type="text" name="image2" class="form-control" value="" required="" placeholder="Enter Announcement Image URL" style= " width: 400px"><br><hr>
          </div>
          <div class="form-group">
            <input type="submit" name="submit" value="Submit" class="btn btn-secondary btn-lg btn-block"style="background-color: #262626;color:lightgray; width: 200pt">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>