
<div class="container text-center">
  <h3 style="margin: 20pt">Signup</h3>
  <form method="POST" action="/client/signup">
    <div class="form-group" style="margin: 5pt">
      <label style="margin-right: 24pt">Email</label>
      <input type="email" name="email" class="form-group" required="">
    </div>
    <div class="form-group" style="margin: 5pt">
      <label style="margin-right: 4pt">Password</label>
      <input type="password" name="password" class="form-group" required="">
    </div>
    {{#if error}}
    <div>
    <p style="color: red">{{message}}</p>
    </div>
    {{/if}}
    <input type="submit" name="" class="btn">

  </form>
</div>